html,body{
  width: 100%;
  height: auto;
}
/* 상단영역 */
header {
  width: 100%;
}
header div.head{
  border-bottom: 1px solid #ccc;
}
header div.topmenu {
  width: 1440px;
  justify-content: right;
  align-items: center;
  padding: 10px 0;
}
header div.topmenu input {
  display: block;
  width: 250px;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 0 15px;
  box-sizing: border-box;
}
header div.topmenu a{
  width: 35px;
  height: 35px;
  font-size: 0;
}
header div.topmenu a::before{
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
}
header div.topmenu a.searchB {
  background-color: #0082ff;
  margin: 0 15px 0 5px;
  border-radius: 50%;
}
header div.topmenu a.searchB::before{
  background-image: url(../img/icon-srch.svg);
}
header div.topmenu a.login {
  
}
header div.topmenu a.login::before{
  background-image: url(../img/icon-my.svg);
}
/* sceond menu */
header div.sceondmenu {
}
header div.sceondmenu nav {
  width: 100%;
  height: auto;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto;
}
header div.sceondmenu nav h1 {
  width: 180px;
  height: auto;
  background-image: url(../img/logo.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
header div.sceondmenu nav h1 a{
  opacity: 0;
}
header div.sceondmenu nav ul.gnb {
  width: 100%;
  justify-content: center;
  align-items: center;
}
header div.sceondmenu nav ul.gnb li {
  margin-right: 50px;
}
header div.sceondmenu nav a.ham{
  font-size: 0;
  align-self: center;
}
header div.sceondmenu nav a.ham::before{
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  background-image: url(../img/menu.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/* title */
#title {
  width: 100%;
  height: auto;
}
#title div.titleAni{
  
}
#title div>div{
  width: 100%;
  height: auto;
  display: flex;
  /*! padding: 0 20px; */
  box-sizing: border-box;
  border-radius: 65px;
}
#title div > div > div{
  width: 100%;
  height: 480px;
  margin: 0 20px;
}
#title div a{
  width: 1440px;
  height: auto;
  grid-template-columns: 1fr 600px;
  grid-template-rows: repeat(4 , auto);
  row-gap: 20px;
}
#title div a small.Stitle{
  grid-column: 2;
  grid-row: 1;
  justify-self: left;
  align-self: last baseline;
  background-color: #222;
  border-radius: 25px;
  color: #fff;
  width: 100px;
  height: 40px;
  text-align: center;
  align-content: center;
}
#title div h2{
  grid-column: 2;
  grid-row: 1 / span 2;
  align-self: last baseline;
  line-height: 1.3;
}
#title div p{
  grid-column: 2;
  grid-row: 3 / span 2;
  align-content: first baseline;
  line-height: 1.5;
}
#title div a small.Stitle2{
  grid-column: 2;
  grid-row: 3;
  align-content: center;
  align-self: flex-end;
  letter-spacing: 1px;
  line-height: 2.4;
  font-weight: bold;
}
#title div a small.Stitle2::after{
  content: "";
  display: inline-block;
  width: 24px;
  height: 10px;
  background-size: cover;
  background-position: center;
}
/* first main */
#title div.main1 {
  background-color: #d5f3fc;
}
#title div.main1 a{
  
}
#title div.main1 a small{
  
}
#title div.main1 a figure{
  grid-column: 1;
  grid-row: 1 / span 4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#title div.main1 a figure img{
  width: 600px;
  height: fit-content;
  object-fit: contain;
}
#title div.main1 a figure figcaption{
  
}
#title div.main1 a small.Stitle {
  
}
#title div.main1 a h2 {
  
}
#title div.main1 a p {
  
}
#title div.main1 a small.Stitle2 {
  
}
#title div.main1 a small.Stitle2::after{
  background-image: url(../img/main.arrow.png);
}
/* sceond main*/
#title div.main2 {
  background-color: #142e84;
}
#title div.main2 a{
  color: #fff;
}
#title div.main2 a figure{
  grid-column: 1;
  grid-row: 1 / span 4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#title div.main2 a figure img{
  width: 530px;
  height: fit-content;
  object-fit: contain;
}
#title div.main2 a small{
  
}
#title div.main2 a small.Stitle {
  color: #ffc600;
}
#title div.main2 a h2 {
  
}
#title div.main2 a p {
  
}
#title div.main2 a small.Stitle2 {
 
}
#title div.main2 a small.Stitle2::after{
  background-image: url(../img/main.arrow2.png);
}
/* third */
#title div.main3 {
  background: #caecf9;
}
#title div.main3 a{
  
}
#title div.main3 a figure{
  grid-column: 1;
  grid-row: 1 / span 4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#title div.main3 a figure img{
  width: 450px;
  height: fit-content;
  object-fit: contain;
}
#title div.main3 a small{
  
}
#title div.main3 a small.Stitle {
  color: #caecf9;
}
#title div.main3 a h2 {
  
}
#title div.main3 a p {
  
}
#title div.main3 a small.Stitle2 {
  
}
#title div.main3 a small.Stitle2::after{
  background-image: url(../img/main.arrow.png);
}
/* forth */
#title div.main4 {
  background-color: #fff5e5;
}
#title div.main4 a{
  
}
#title div.main4 a figure{
  grid-column: 1;
  grid-row: 1 / span 4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#title div.main4 a figure img{
  width: 700px;
  height: auto;
  object-fit: contain;
  align-self: flex-end;
}
#title div.main4 a small{
  
}
#title div.main4 a small.Stitle {
  color: #fff5e5; 
}
#title div.main4 a h2 {
  
}
#title div.main4 a p {
 
}
#title div.main4 a small.Stitle2 {
 
}
#title div.main4 a small.Stitle2::after{
  background-image: url(../img/main.arrow.png);
}
/* fifth main */
#title div.main5 {
  background-color: #051d55;
}
#title div.main5 a{
  color: white;
}
#title div.main5 a small{
 
}
#title div.main5 a figure{
  grid-column: 1;
  grid-row: 1 / span 4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#title div.main5 a figure img{
  width: 600px;
  height: fit-content;
  object-fit: contain;
}
#title div.main5 a figure figcaption{
  
}
#title div.main5 a small.Stitle {
   color: #a5b9e8;
}
#title div.main5 a h2 {
  
}
#title div.main5 a p {
  
}
#title div.main5 a small.Stitle2 {
  
}
#title div.main5 a small.Stitle2::after{
  background-image: url(../img/main.arrow2.png);
}
/* sixth main */
#title div.main6 {
  background-color: #fff39e;
}
#title div.main6 a{
  
}
#title div.main6 a small{
  
}
#title div.main6 a figure{
  grid-column: 1;
  grid-row: 1 / span 4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#title div.main6 a figure img{
  width: 600px;
  height: fit-content;
  object-fit: contain;
}
#title div.main6 a figure figcaption{
  
}
#title div.main6 a small.Stitle {
  color: #fff39e;
}
#title div.main6 a h2 {
  
}
#title div.main6 a p {
  
}
#title div.main6 a small.Stitle2 {
  
}
#title div.main6 a small.Stitle2::after{
  background-image: url(../img/main.arrow.png);
}
/* seventh main */
#title div.main7 {
  background-color: #452360; 
}
#title div.main7 a{
  color: white;
}
#title div.main7 a small{
  
}
#title div.main7 a figure{
  grid-column: 1;
  grid-row: 1 / span 4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#title div.main7 a figure img{
  width: 600px;
  height: fit-content;
  object-fit: contain;
}
#title div.main7 a figure figcaption{
  
}
#title div.main7 a small.Stitle {
  color: #b892d6;
}
#title div.main7 a h2 {
  
}
#title div.main7 a p {
  
}
#title div.main7 a small.Stitle2 {
  
}
#title div.main7 a small.Stitle2::after{
  background-image: url(../img/main.arrow2.png);
}
/* 슬릭 */
#title div.slick-list.draggable{
  width: 100%;
  border-radius: 0;
}
#title div.slick-track{
  
}
#title .slick-slider{
  width: 1903px;
}
#title .slick-arrow{
 
}
#title .slick-prev,
#title .slick-next{
  z-index: 1;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0,0,0,.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
#title .slick-prev{
  left: 235px;
}
#title .slick-prev::before{
  display: block;
  width: 15px;
  height: 15px;
  background-image: url(../img/arrowL.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}
#title .slick-next{
  right: 190px;
}
#title .slick-next::before{
  display: block;
  width: 15px;
  height: 15px;
  background-image: url(../img/arrowR.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}
/* quick menu */
#title div.Qmenu {
  width: 100%;
  height: auto;
}
#title div.Qmenu ul.list {
  justify-content: space-evenly;
}
#title div.Qmenu ul.list li {
  width: 150px;
  height: 150px;
  text-align: center;
  border-radius: 20px;
  margin-top: 30px;
  transition: 0.5s;
}
#title div.Qmenu ul.list li:hover{
  box-shadow: 14px 14px 14px 14px #eee;
}
#title div.Qmenu ul.list li a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#title div.Qmenu ul.list li a::before{
  content: "";
  display: block;
  width: 60px;
  height: 55px;
}
#title div.Qmenu ul.list li:nth-child(1) a::before{
  background-image: url(../img/Qicon1.svg);
}
#title div.Qmenu ul.list li:nth-child(2) a::before{
  background-image: url(../img/Qicon2.svg);
}
#title div.Qmenu ul.list li:nth-child(3) a::before{
  background-image: url(../img/Qicon3.svg);
}
#title div.Qmenu ul.list li:nth-child(4) a::before{
  background-image: url(../img/Qicon4.svg);
}
#title div.Qmenu ul.list li:nth-child(5) a::before{
  background-image: url(../img/Qicon5.svg);
}
#title div.Qmenu ul.list li:nth-child(6) a::before{
  background-image: url(../img/Qicon6.svg);
}
/* main */
main {
  width: 100%;
  height: 100%;
}
main div.pick {
  width: 100%;
  height: auto;
}
main div.pick h2 {
  margin-bottom: 40px;
}
main div.pick ul.tag {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
}
main div.pick ul.tag li {
  display: flex;
  width: auto;
  height: 50px;
  margin-right: 10px;
}
main div.pick ul.tag li a {
  width: auto;
  height: auto;
  border: 1px solid #8080804d;
  border-radius: 25px;
  padding: 16px;
  box-sizing: border-box;
  font-weight: bold;
}
main div.pick div.mainTitle {
  width: 100%;
  height: 100%;
  position: relative;
}
/* arrow */
main div.pick div.mainTitle div.Pbutton{
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
}
main div.pick div.mainTitle div.Pbutton button{
  position: static;
  transform: translate(0);
  width: 36px;
  height: 36px;
}
main div.pick div.mainTitle div.Pbutton button.slick-arrow{
  display: flex;
  width: 36px;
  justify-content: right;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
main div.pick div.mainTitle div.Pbutton button.slick-arrow::before{
  font-size: 0;
}
main div.pick div.Pbutton .slick-prev{
  background-image: url(../img/arrowPL.svg);
}
main div.pick div.Pbutton .slick-next{
  background-image: url(../img/arrowPR.svg);
}
/* dots */
main div.pick .slick-dots{
  display: flex;
  width: fit-content;
  justify-content: left;
  background-color: #ddd;
  position: absolute;
  bottom: 10px;
}
/* pick title */
main div.pick div.mainTitle div.list {
  width: 100%;
  height: 500px;
}
main div.pick div.mainTitle div.list ul {
  display: flex;
  width: 100%;
  height: auto;
}
main div.pick div.mainTitle div.list ul li {
  display: flex;
  width: 345px;
  height: 400px;
  background-color: #f5f8fd;
  border-radius: 20px;
  margin-right: 25px;
}
main div.pick div.mainTitle div.list ul li a {
  width: 100%;
  height: auto;
}
main div.pick div.mainTitle div.list ul li a h3{
  
}
main div.pick div.mainTitle div.list ul li a h3::before{
  content: "";
  display: block;
  width: 180px;
  height: 240px;
  background-size: contain;
  background-position: center;
  margin: 80px 80px 100px 80px;
}
/* main image */
main div.pick div.mainTitle div.list ul li:nth-child(1) a h3::before{
  background-image: url(../img/main1.jpg);
}
main div.pick div.mainTitle div.list ul li:nth-child(2) a h3::before{
  background-image: url(../img/main2.jpg);
}
main div.pick div.mainTitle div.list ul li:nth-child(3) a h3::before{
  background-image: url(../img/main3.jpg);
}
main div.pick div.mainTitle div.list ul li:nth-child(4) a h3::before{
  background-image: url(../img/main4.jpg);
}
main div.pick div.mainTitle div.list ul li:nth-child(5) a h3::before{
  background-image: url(../img/main5.jpg);
}
main div.pick div.mainTitle div.list ul li:nth-child(6) a h3::before{
  background-image: url(../img/main6.jpg);
}
/* main hover */
main div.pick div.mainTitle div.hover {
  width: auto;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -1;
}
main div.pick div.mainTitle div.hover ul {
  display: flex;
  width: 100%;
  height: 100%;
}
main div.pick div.mainTitle div.hover ul li {
  display: flex;
  width: 345px;
  height: 400px;
  background: rgba(0,0,0,.4);
  border-radius: 20px;
  margin-right: 25px;
}
main div.pick div.mainTitle div.hover ul li a {
  width: 345px;
  height: auto;
  text-align: center;
  align-content: center;
  color: white;
}
main div.pick div.mainTitle div.hover ul li a h3{
  
}
/* main slick */
main div.pick ul.tag div.mbutton{
  position: absolute;
  display: flex;
  right: 0;
  bottom: 0;
  gap: 5px;
  z-index: 1;
}
main div.pick ul.tag button{
 
}
main div.pick ul.tag .slick-prev,
main div.pick ul.tag .slick-next{
  position: static;
  transform: translate(0);
  width: 44px;
  height: 44px;
  box-shadow: 0px 0px 10px #eee;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main div.pick ul.tag .slick-prev:hover,
main div.pick ul.tag .slick-next:hover{
  box-shadow: 0px 0px 10px #ddd;
}
main div.pick ul.tag .slick-prev::before{
  background-image: url(../img/arrowL.svg);
}
main div.pick ul.tag .slick-next::before{
  background-image: url(../img/arrowR.svg);
}
main div.pick ul.tag .slick-prev::before,
main div.pick ul.tag .slick-next::before{
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 0;
  background-size: cover;
  background-position: center;
}
/* main banner */
main div.test {
  width: 1440px;
  height: 220px;
}
main div.test a {
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(3 , auto);
  grid-template-rows: auto auto;
  background-image: url(../img/mainbanner.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 100px;
  box-sizing: border-box;
  color: white;
}
main div.test a h2 {
  grid-column: 1 / span 2;
  grid-row: 1;
  z-index: 1;
  width: fit-content;
  font-size: 30px;
  justify-self: left;
  align-self: flex-end;
   letter-spacing: -1px;
}
main div.test a h2 strong {
 
}
main div.test a p {
  grid-column: 1;
  grid-row: 2;
  font-size: 20px;
  justify-self: left;
  align-self: center;
  opacity: 0.78;
}
main div.test a h3 {
  grid-column: 3;
  grid-row: 1 / span 2;
  justify-self: center;
  align-self: center;
  background-color: #111;
  border-radius: 25px;
  width: 240px;
  height: 50px;
  letter-spacing: -2px;
  line-height: 2.5;
  padding: 4px 30px;
  box-sizing: border-box;
}
main div.test a h3::after{
  content: "";
  display: inline-block;
  width: 24px;
  height: 20px;
  background-image: url(../img/main.arrow2.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 70px;
}
/* best */
div.best {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto 1fr;
  row-gap: 40px;
  width: 100%;
  height: auto;
  letter-spacing: -1px;
  position: relative;
  padding: 50px;
}
div.best::before{
  content: "";
  display: block;
  width: 1903px;
  height: 900px;
  background-image: url(../img/bestB.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: -182px;
  z-index: -1;
}
div.best h2 {
  margin-right: 50px;
  grid-column: 1;
  grid-row: 1;
  line-height: 2;
}
div.best h3 {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  margin-left: 250px;
}
div.best ul {
  width: 100%;
  height: auto;
}
div.best ul li {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
div.best ul li a::before{
  content: "";
  display: block;
  width: 280px;
  height: 390px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}
/* best book */
div.best ul li:nth-child(1) a::before{
  background-image: url(../img/best1.jpg);
}
div.best ul li:nth-child(2) a::before{
  background-image: url(../img/best2.jpg);
}
div.best ul li:nth-child(3) a::before{
  background-image: url(../img/best3.png);
}
div.best ul li:nth-child(4) a::before{
  background-image: url(../img/best4.jpg);
}
div.best ul li:nth-child(5) a::before{
  background-image: url(../img/best5.jpg);
}
div.best ul li:nth-child(6) a::before{
  background-image: url(../img/best6.jpg);
}
div.best ul li:nth-child(7) a::before{
  background-image: url(../img/best7.jpg);
}
div.best ul li:nth-child(8) a::before{
  background-image: url(../img/best8.jpg);
}
div.best ul li:nth-child(9) a::before{
  background-image: url(../img/best9.jpg);
}
div.best ul li:nth-child(10) a::before{
  background-image: url(../img/best10.jpg);
}
div.best ul li:nth-child(11) a::before{
  background-image: url(../img/best11.jpg);
}
/* best slick */
div.best button{
  width: 45px;
  height: 45px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px #ebebeb;
}
div.best button::before{
  content: "";
  display: block;
  width: 13px;
  height: 10px;
  font-size: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.best .slick-prev{
  left: 500px;
  z-index: 1;
}
div.best .slick-next{
  right: 555px;
  z-index: 1;
}
div.best .slick-prev::before{
  background-image: url(../img/arrowL.png);
}
div.best .slick-next::before{
  background-image: url(../img/arrowR.png);
}
div.best .slick-prev:hover, 
.slick-prev:focus,
div.best .slick-next:hover, 
.slick-next:focus{
  background-color: white;
}
div.pick ul.tag .slick-list{
  width: 1300px;
  height: auto;
}
div.best div.slick-track{
  width:  1500px !important;
  display: flex;
}
div.best .slick-slide li{
  width:  100% !important;
}
div.best .slick-track li{
  display: flex;
  width: 480px;
  height: 476px;
}
div.best .slick-track li a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 480px;
  height: 100%;
}
div.best .slick-track .slick-slide li{
  width: 480px;
  height: auto;
}
div.best ul li a {
  
}
div.best ul li a p {
  font-size: 25px;
  font-weight: bold;
}
/* youtube */
div.youtube {
  width: 100%;
  height: auto;
}
div.youtube h2 {
  line-height: 3;
}
div.youtube ul {
  width: 100%;
  height: auto;
}
div.youtube ul li {
  width: 100%;
  height: auto;
}
div.youtube ul li a {
  width: 558px;
  height: 314px;
  font-size: 0;
  background-size: cover;
}
/* youtube background */
div.youtube ul li:nth-child(1) a{
  background-image: url(../img/Y1.jpg);
}
div.youtube ul li:nth-child(2) a{
  background-image: url(../img/Y2.jpg);
}
div.youtube ul li:nth-child(3) a{
  background-image: url(../img/Y3.png);
}
div.youtube ul li:nth-child(4) a{
  background-image: url(../img/Y4.png);
}
div.youtube ul li:nth-child(5) a{
  background-image: url(../img/Y5.png);
}
/* youtube slick */
div.youtube .slick-slide{
  width: auto;
  display: flex;
  margin-right: 20px;
}
div.youtube .slick-track{
  height: 100%;
}
/* event */
div.event {
  width: 100%;
  height: auto;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto 1fr;
  row-gap: 40px;
}
div.event h2 {
  grid-column: 1;
  grid-row: 1;
}
div.event a{
  
}
div.event a.view {
  grid-column: 1;
  grid-row: 2;
}
div.event ul {
  grid-column: 2;
  grid-row: 1 / span 3;
  width: auto;
  height: auto;
}
div.event ul li {
  
}
div.event ul li a.text {
  width: fit-content;
}
div.event ul li a.text h3 {
  border: 1px solid;
  border-radius: 6px;
  padding: 0 10px;
  line-height: 2;
  margin-bottom: 10px;
}
div.event ul li a.content {
  width: 100%;
  height: 100%;
}
div.event ul li a.content p {
  width: 100%;
}
div.event ul li a.content p.time {
  margin-bottom: 20px;
}
div.event ul li:not(:first-child) a.content p{
  margin-bottom: 47px;
}
div.event ul li a.content figure {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
div.event ul li a.content figure img {
  
}
div.event ul li a.content figure figcaption {
  
}
/* event slick */
div.event div.Ebutton{
  position: absolute;
  display: flex;
  left: -380px;
  bottom: 80px;
  gap: 10px;
}
div.event button{
  position: static;
  background-position: center;
  background-size: contain;
  transform: translate(0);
  width: 44px;
  height: 44px;
}
div.event button::before{
  font-size: 0;
}
div.event .slick-prev{
  background-image: url(../img/eventBL.svg);
}
div.event .slick-next{
  background-image: url(../img/eventBR.svg);
}
div.event ul .slick-list{
  max-width: 1058px;
}
div.event ul .slick-list .slick-track{
  width: 100%;
  height: 100%;
}
div.event ul .slick-list .slick-slide{
  width: 339px;
  height: 100%;
  line-height: 1.5;
  letter-spacing: -2px;
  margin-right: 25px;
}
/* notice */
div.notice {
  width: 100%;
  height: auto;
}
div.notice h2 {
  text-align: center;
  margin-bottom: 45px;
  letter-spacing: -1px;
}
div.notice ul {
  width: 100%;
  height: auto;
  justify-content: space-between;
  column-gap: 20px;
}
div.notice ul li {
  width: 486px;
  height: auto;
  background-color: #f5f8fd;
  border-radius: 25px;
  text-align: center;
  transition: 0.5s;
}
div.notice ul li:hover{
  box-shadow: 0px 0px 20px rgba(0,0,0,.1);
}
div.notice ul li a {
  padding: 35px 50px;
  box-sizing: border-box;
  line-height: 1.7;
}
div.notice ul li a p.p {
  
}
div.notice ul li a p.time {
  
}
/* com */
div.com {
  width: 100%;
  height: auto;
}
div.com h2 {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 50px;
  letter-spacing: -1px;
}
div.com ul.sns {
  justify-content: space-around;
}
div.com ul.sns li {
  width: 270px;
  height: auto;
  line-height: 1.5;
  display: flex;
}
div.com ul.sns li a {
  display: flex;
  width: 100%;
  height: 30px;
  padding: 35px 30px;
  box-sizing: border-box;
  justify-content: right;
  align-items: center;
  letter-spacing: -2px;
  font-size: 18px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 20px;
  transition: 0.5s;
}
div.com ul.sns li a::after{
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/arrow.svg);
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  margin-left: auto;
}
div.com ul.sns li a:hover{
  border: 1px solid #333;
}
div.com ul.sns li a i{
  font-size: 0;
}
div.com ul.sns li a i::before{
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 12px;
}
div.com ul.sns li:nth-child(1) a i::before{
  background-image: url(../img/insta.svg);
}
div.com ul.sns li:nth-child(2) a i::before{
  background-image: url(../img/insta.svg);
}
div.com ul.sns li:nth-child(3) a i::before{
  background-image: url(../img/insta.svg);
}
div.com ul.sns li:nth-child(4) a i::before{
  background-image: url(../img/ytb.svg);
}
div.com ul.sns li:nth-child(5) a i::before{
  background-image: url(../img/ncafe.svg);
}
/* footer */
footer {
  width: 100%;
  height: auto;
}
footer div{
  width: 100%;
  height: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 83px 1fr 1fr;
}
footer div> div.a {
  width: 100%;
  height: auto;
  grid-column: 1 / span 2;
  grid-row: 1;
  background: #111;
  grid-template-columns: 170px 1fr repeat(3,auto) 170px;
  column-gap: 30px;
}
footer div> div.a h2 {
  
}
footer div> div.a ul.fnb {
  width: 100%;
  height: auto;
  align-items: center;
  grid-column: 2;
  grid-row: 1;
  gap: 50px;
}
footer div> div.a ul.fnb li {
  
}
footer div> div.a ul.fnb li a {
  color: white;
  font-size: 15px;
}
footer div> div.a ul.sns {
  width: fit-content;
  height: auto;
  justify-content: right;
  align-items: center;
  grid-column: 3 / span 2;
  grid-row: 1;
  gap: 25px;
}
footer div> div.a ul.sns li {
  width: 30px;
  height: 25px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
footer div> div.a ul.sns li:nth-child(n+1):nth-child(-n+3){
  background-image: url(../img/insta2.svg);
}
footer div> div.a ul.sns li:nth-child(4){
  background-image: url(../img/ytb2.svg);
}
footer div> div.a ul.sns li:nth-child(5){
  background-image: url(../img/blog2.svg);
}
footer div> div.a ul.sns li a {
  width: 100%;
  height: 100%;
  color: white;
  opacity: 0;
}
footer div> div.a button {
  grid-column: 5;
  grid-row: 1;
  color: white;
  width: auto;
  height: 45px;
  align-self: center;
  border: 1px solid #555;
  border-radius: 30px;
  padding: 0 15px;
  box-sizing: border-box;
  font-size: 14px;
  cursor: pointer;
}
footer div > div.a button::after{
  content: "";
  display: inline-block;
  width: 24px;
  height: 10px;
  background-image: url(../img/downArrow.svg);
  background-size: 80%;
  background-position: center;
  margin-left: 30px;
}
footer div> div.b {
  width: 1500px;
  height: 100px;
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
  align-content: center;
  margin: 0 auto;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  row-gap: 20px;
  padding: 80px 0;
  line-height: 1.5;
}
footer div > div.b a{
  width: fit-content;
  grid-column: 1;
  grid-row: 1;
}
footer div> div.b a figure {
  width: fit-content;
  height: auto;
}
footer div> div.b a figure img {
  
}
footer div> div.b a figure figcaption {
  
}
footer div> div.b address {
  font-size: 13px;
  grid-column: 1;
  grid-row: 2;
}
footer div> div.b address span {
  
}
footer div> div.b p {
  font-size: 13px;
  grid-column: 2;
  grid-row: 2;
  color: gray;
}